<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная</title>
    <link rel="stylesheet" href="https://unpkg.com/papercss@1.6.1/dist/paper.min.css">
</head>

<style>
    .content {
        margin: auto;
        padding: 20px;
    }
</style>

<body>



    <nav class="border fixed split-nav">
        <div class="nav-brand">
            <h3><a href="{% url 'index' %}">Warehouse API</a></h3>
        </div>
        <div class="collapsible">
            <input id="collapsible1" type="checkbox" name="collapsible1">
            <button>
    <label for="collapsible1">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </label>
    </button>
            <div class="collapsible-body">
                <ul class="inline">
                    <li><a href="{% url 'schema-redoc' %}">Документация (Redoc)</a></li>
                    <li><a href="#">О проекте</a></li>
                    <li><a href="#">GitHub</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="content">

        {% block content %} {% endblock content %}
    </div>


</body>

</html>