{% extends "base.html" %} {% block content %}
<h1>Описание API</h1>


<br />
<h2>Как работает API?</h2>
<p>Учет движения товаров и кассовых операций производится с использованием документов: накладных и кассовых ордеров. Каждая операция приема/выдачи должна быть зарегистрирована для облегчения учета ресурсов и сведения бухгалтерского баланса.</p>
<p>Зарегистрированный документ нельзя удалить и изменить.</p>
<p>Учетные данные вычисляются автоматически и доступны после регистрации соответствующих документов.</p>
<p>Учетные данные различных ресурсов:</p>
<ul>
    <li>Product: in_stock - текущий остаток товаров на складе;</li>
    <li>Counterparty: saldo - разница между приходом и расходом данного контрагента;</li>
    <li>Income/OutcomeInvoice: total - сумма накладной.</li>
</ul>
<h2>Описание ресурсов</h2>
<p>Product - единица товара. Содержит информацию: наименование, единица измерения, цена, текущий остаток. Для удобства может быть отнесен к какой-нибудь категории.</p>
<p>Counterparty - контрагент, в данном случае участник кассовых и/или товарообменных операций. Содержит информацию: название, сальдо.</p>
<p>ProductCategory - категория продуктов. Не является обязательным параметром. Содержит информацию: название.</p>
<p>IncomeWarrant - приходный кассовый ордер. Содержит информацию: номер, дату, сумму, контрагента, комментарий, регистрацию.</p>
<p>OutcomeWarrant - расходный кассовый ордер. Содержит информацию: номер, дату, сумму, контрагента, комментарий, регистрацию.</p>
<p>IncomeInvoice - приходная накладная. Содержит информацию: номер, дату, сумму, контрагента, регистрацию, список товаров.</p>
<p>OutcomeInvoice - расходная накладная. Содержит информацию: номер, дату, сумму, контрагента, регистрацию, список товаров.</p>
<p>ProductIncome - товарный приход. Содержит информацию: товар, цена, количество, сумма, накладная.</p>
<p>ProductOutcome - товарный расход. Содержит информацию: товар, цена, количество, сумма, накладная.</p>






<p>Предположим, на склад прибыл кошачий корм в количестве 100 шт. от поставщика "Охель Хатулим" (название выдумано, переводится с иврита как кошачий корм). Кладовщик проверил фактический приход, он совпал с расходной накладной поставщика. Теперь нужно оприходовать
    поступивший товар. Для этого нужно создать приходную накладную. Кладовщик вводит номер накладной, дату и вдруг обнаруживает, что данного поставшика нет в списке контрагентов. Следовательно, его нужно добавить. Кладовщик создает нового контрагента,
    вводя название предприятия поставщика. Всё, можно дальше создавать накладную. Наш усердный работник указывает, от кого прибыл товар. Далее, он создает новую запись в приходной накладной, но данного товара также нет в списке. Поэтому, его также необходимо
    создать. Кладовщик вводит имя товара, единицу измерения, высчитывает наценку и устанавливает новую цену для продажи. Теперь можно продолжить ввод данных в накладную. Накладная создана, данные введены, но результат не отображается! Чтобы приход товара
    был учтен окончательно, необходимо зарегистрировать документ.</p><br />
<p>Последовательность действий кладовщика:</p><br />
<p>Создание (POST) контрагента (Counterparty) -> создание (POST) приходной накладной (IncomeInvoice) -> создание (POST) товара (Product) -> создание (POST) товарного прихода (ProductIncome) -> регистрация (PATCH) приходной накладной (IncomeInvoice).</p><br
/>
<p>После данных операций при получении (GET) свежесозданных ресурсов кладовщик видит, что сальдо (saldo) контрагента (Counterparty), соответствующего поставщику кошачьего корма изменилось на сумму товарного прихода по закупочной цене со знаком минус, итоговая
    сумма (total) приходной накладной (IncomeInvoice) также была высчитана автоматически, а ресурс товара (Product) показывает количество товара в наличии (in_stock).</p><br />
<br />
<ul>
    <li>UC Product Out</li>
    <li>UC Cash Out</li>
    <li>UC Cash In</li>
</ul>
{% endblock content %}