{% extends "base.html" %} {% block content %}
<h1>Описание API</h1>


<br />
<h2>Как работает API?</h2>
<p>Учет движения товаров и кассовых операций производится с использованием документов: накладных и кассовых ордеров. Каждая операция приема/выдачи должна быть зарегистрирована для облегчения учета ресурсов и сведения бухгалтерского баланса.</p>
<p>Над зарегистрированными документами запрещены любые операции, кроме аннулирования регистрации. Регистрация осуществляется следующим способом:</p>
<p>POST запрос по URL:</p>
<p><code>
        /api/<i>ресурс_документа</i>/<i>ID</i>/toggle/
    </code></p>
<p>Учетные данные вычисляются автоматически и доступны после регистрации соответствующих документов.</p>
<p>Учетные данные различных ресурсов:</p>
<ul>
    <li>Product: in_stock - текущий остаток товаров на складе;</li>
    <li>Counterparty: saldo - разница между приходом и расходом данного контрагента;</li>
    <li>Income/OutcomeInvoice: total - сумма накладной.</li>
</ul>
<h2>Описание ресурсов</h2>
<p>Product - единица товара. Содержит информацию: наименование, единица измерения, цена, текущий остаток. Для удобства может быть отнесен к какой-нибудь категории.</p>
<p>Counterparty - контрагент, в данном случае участник кассовых и/или товарообменных операций. Содержит информацию: название, сальдо.</p>
<p>ProductCategory - категория продуктов. Не является обязательным параметром. Содержит информацию: название.</p>
<p>IncomeWarrant - приходный кассовый ордер. Содержит информацию: номер, дату, сумму, контрагента, комментарий, регистрацию.</p>
<p>OutcomeWarrant - расходный кассовый ордер. Содержит информацию: номер, дату, сумму, контрагента, комментарий, регистрацию.</p>
<p>IncomeInvoice - приходная накладная. Содержит информацию: номер, дату, сумму, контрагента, регистрацию, список товаров.</p>
<p>OutcomeInvoice - расходная накладная. Содержит информацию: номер, дату, сумму, контрагента, регистрацию, список товаров.</p>
<p>ProductIncome - товарный приход. Содержит информацию: товар, цена, количество, сумма, накладная.</p>
<p>ProductOutcome - товарный расход. Содержит информацию: товар, цена, количество, сумма, накладная.</p>
<br />
<h2>Отчеты</h2>
<p>В API присутствуют два отчета: оборот товара за определенный период и оборот по контрагенту.</p>
<p>GET запросы по URL:</p>
<ul>
    <li><code>
        /api/products/<i>ID</i>/circulation/<i>начальная_дата</i>/<i>конечная дата</i>/
    </code></li>
    <li><code>
        /api/counterparties/<i>ID</i>/summary/<i>начальная_дата</i>/<i>конечная дата</i>/
    </code></li>
</ul>
<p>Все даты должны быть представлены в виде: ГГГГ-ММ-ДД.</p>
{% endblock content %}